.header {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin-left: 50px;
}

.menu {
    display: flex;
}
.menu * {
    margin-right: 30px;
}

.item img {
    background-color: aquamarine;
    border: solid;
    border-color: black;
    border-radius: 20px;
    padding: 30px;
    margin-right: 15px;
}

.grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    color: #00000f;
}

h3 {
    color: white;
    text-align: center;
}

body {
    background-color: #808080;
}

a:link {
    color: yellow;
}

a:visited {
    color: blue;
}

a:active {
    color: greenyellow;
}

.item {
    position: relative;
}

.item h4 {
    position: absolute;
    bottom: 50%;
    left: 30%;
    background-color: grey;
    opacity: 0.3;
}

.item:hover h4 {
    opacity: 1;
}

.item:hover img {
    transform: scale(1.5);
}
